<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/pesquisa']">GithubPesquisa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">



      <div class="card">
        <div class="card-header">
          Nome
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <br /> Descrição
            </div>
            <div class="col-md-8">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Usuário:</strong> Estrelas
                </li>
                <li class="list-group-item">
                  <strong>Seguindo:</strong> Linguagem
                </li>
                <li class="list-group-item">
                  <strong>Seguidores</strong> Link Github
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>