<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/pesquisa']">GithubPesquisa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">



      <div class="card">
        <div class="card-header">
          <strong>Nome</strong> - {{dadosDetalhe.name}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" *ngIf="dadosDetalhe.description != null">
              <br /> Descrição:
              <br /> {{dadosDetalhe.description}}
            </div>
            <div class="col-md-4" *ngIf="dadosDetalhe.description == null">
              <br /> Descrição: Sem descrição
            </div>
            <div class="col-md-8">
              <br />
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Estrelas:</strong> {{dadosDetalhe.stargazers_count}}
                </li>
                <li class="list-group-item">
                  <strong>Linguagem:</strong> {{dadosDetalhe.language}}
                </li>
                <li class="list-group-item">
                  <strong>Link Github:</strong>
                  <a href="{{dadosDetalhe.html_url}}">clique aqui</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>