<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/pesquisa']">GithubPesquisa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="row">
  <div class="col-sm-6" *ngFor="let item of repositorios; let i = index">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Repositório - {{item.name}}</h5>
        <hr>
        <h5>Descrição</h5>
        <div *ngIf="item.description != null">
          <p class="card-text">{{item.description}}</p>
        </div>
        <div *ngIf="item.description == null">
          <p class="card-text">Repositório sem descrição.</p>
        </div>
        <br />
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="detalhes(item.full_name)">Ver detalhes</button>
      </div>
    </div>
  </div>

</div>